.global-cell-1 {
	height: auto;
	width: 370px;
	background-color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 100px auto;
}

.cell-1 {
	background-color: #232323;
	padding: 20px 5px;
	border-bottom: 2px solid #cd3535;
}

.cell-2 {
	background-color: #232323;
	padding: 20px 0px;
	border-bottom: 2px solid #cd3535;
}

.cell-3 {
	background-color: #232323;
	font-size: 20px;
	color: white;
	padding: 20px 0px;
}

.item {
	font-size: 20px;
	padding: 10px 0px;
	color: white;
}