a {
	text-decoration: none;
}

.center-content {
	height: 100%;
	width: calc(100% - 60px);
	background-color: #2d5986;
	position: fixed;
	right: 0;
	overflow-x: auto;
}

.btn-def {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 0.84rem 2.14rem;
	font-size: 0.81rem;
	margin: 0.375rem;
	border: 0;
	-webkit-border-radius: 0.125rem;
	border-radius: 0.125rem;
	cursor: pointer;
	text-transform: uppercase;
	white-space: normal;
	word-wrap: break-word;
	background-color: #cd3535 !important;
	color: white !important;
}

.text-1 {
	font-size: 25px;
	color: white;
}

.text-2 {
	font-size: 20px;
	color: white;
}

.title-def {
	font-family: Impact;
	color: #cd3535;
	font-size: 40px;
}

.item-def {
	font-size: 20px;
	padding: 10px 0px;
	color: white;
}

.display_img {
	display: flex;
	justify-content: space-around;
	margin: 70px 0px;
	flex-flow: wrap;
}

.display_img img {
	margin: 10px;
	border: 2px solid black;
}

@media screen and (max-width: 414px) {
	.title-def {
		font-size: 30px;
	}
}